.background{
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.dialog{
  border: 10px solid FireBrick;
  color: DimGray;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.dialog span{
  float: right;
  font-size: 35px;
  margin-right: 10px;
}

.dialog div{
  margin-top: 15px;
}
