.element{
  width: 213px;
  height: 254px;
  padding-bottom: 0px;
  margin: 26px 0px;
  float:left;
  text-align: center;
  background-color: inherit;
}

.element img{
  width:122px;
  height: 185px;
  margin-left: 33px;
  margin-right: 33px;
}

.element .description{
  position: relative;
  min-width:200px;
  min-height:100px;
  font-size: medium;
}

.main.element{
  width: 370px;
  height: 508px;
}

.main.element .description{
  font-size: 30px;
}

.main.element img{
  width:244px;
  height: 370px;
}
