.toolbar select{
  width:100%;
}

.toolbar button{
  border-radius: 10px;
}

.form-mini textarea{
  background-color: white;
  color: black;
  width: 45%;
  height: 15px;
  margin-top: 5px;
}

.form-mini button{
  margin: 0;
  width: 22px;
  height: 22px;
}

.base .elementOptions{
  width: 250px;
  height: 320px;
  margin: 0px;
  float: left;
  text-align: center;
}

.base button{
  position: relative;
  height: 18px;
  width: 150px;
  margin-top: 10px;
  color: white;
  background-color: FireBrick;
}

.base button.vertical{
  width: 16px;
  height: 185px;
  margin-top: 40px;
  float: left;
}

.base .row1{
  overflow-y: scroll;
  height: 300px;
  width:inherit;
}

.base .row2{
  border-top: solid 3px FireBrick;
  overflow-y: scroll;
  height: calc(100vh - 423px);
  width: inherit;
}

.base .row1 button{
  background-color: inherit;
  color: DimGray;
}

.base .row1 button:hover,.base .row1 button.on{
  background-color: FireBrick;
  color: white;
}

.additional_layout{
  visibility: hidden;
}

.additional_layout.on{
  visibility: visible;
}

.background{
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.dialog{
  border: 10px solid FireBrick;
  color: DimGray;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  z-index: 1;
}

.dialog span{
  float: right;
  font-size: 35px;
  margin-right: 10px;
}

.dialog div{
  margin-top: 15px;
}
