body{
  background-color: black;
  margin: 0;
}

header{
  background-color: FireBrick;
}

textarea{
  background-color: inherit;
  color: inherit;
  resize: none;
}

button{
  font-family:inherit;
  color: inherit;
  border-radius: 10px;
  width: 100%;
}

button:hover,button.on{
  color: white;
  background-color: FireBrick;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.after-navBar{
  height: 6px;
  width: 100%;
  float: left;
  background-color: FireBrick;
}

.toolbar{
  float: left;
  border-right: 6px solid FireBrick;
  font-family:courier;
  color: DimGray;
  height: calc(100vh - 120px);
  width: 149px;
  overflow-y: scroll;
}

.toolbar div.all{
  padding: 10px;
  background-color: FireBrick;
  color: white;
  border-bottom: 2px solid FireBrick;
}

.toolbar div.main{
  padding: 10px;
  background-color: #ff9999;
  border-bottom: 2px solid FireBrick;
}

.toolbar div.secondary{
  padding: 10px;
  display:none;
  background-color: Silver;
  border-bottom: 2px solid DimGray;
}

.toolbar div.secondary.on{
  display: block;
}

.toolbar select{
  width:100%;
}

.toolbar button{
  border-radius: 10px;
}

.add textarea{
  background-color: white;
  color: black;
  width: 50%;
  height: 15px;
  margin-top: 5px;
}

.add button{
  width: 25px;
  height: 25px;
}

.base{
  margin-top: 16px;
  margin-left: 159px;
  overflow-y: scroll;
  width:calc(100% - 160px);
  height: calc(100vh - 120px);
  color: DimGray;
  background-color: inherit;
}

.base span{
  float: right;
  font-size: 50px;
  margin-right: 10px;
}

.base button{
  height: 18px;
  width: 150px;
  color: white;
  background-color: FireBrick;
  padding: 0;
  float: left;
  margin-top: 20px;
  margin-left: -180px;
}

.base button.additionalOption{
  width: 16px;
  height: 185px;
  position: relative;
  z-index: 1;
  margin: 26px 0px;
  margin-right: -9px;
}

.additional_layout{
  visibility: hidden;
}

.additional_layout.on{
  visibility: visible;
}

.background{
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.dialog{
  border: 10px solid FireBrick;
  color: DimGray;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  z-index: 2;
}

.dialog span{
  float: right;
  font-size: 35px;
  margin-right: 10px;
}

.dialog div{
  margin: 15px;
}
