body{
  background-color: white;
  margin: 0;

}
body.black{
  background-color: black;
}

header{
  background-color: FireBrick;
}

a{
  color:inherit;
  text-decoration: none;
}

.logo{
  width:150px;
  margin: 10px 15px;
}

.wallpaper{
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 113px);
}

.wallpaper img{
  width: 100%;
  height: 100vh;
}

.navBar{
  color: DimGray;
  font-family:courier;
  margin: 0px 20px;
}

.navBar ul{
  float: left;
  list-style: none;
  padding:0;
  margin:0;
}

.navBar ul.right{
  float: right;
}

.navBar li{
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: inherit;
}

.navBar li:hover{
  background-color: FireBrick;
  color: white;
}

.navBar li.active{
  background-color: FireBrick;
  color: white;
}

.navBar div{
  cursor: pointer;
}

.after-navBar{
  height: 6px;
  width: 100%;
  float: left;
  background-color: FireBrick;
}

.dropdown-list{
  display: none;
  position: absolute;
  background-color: white;
  color: DimGray;
  width: 170px;
  top:38px;
  z-index:2;
}

.dropdown-list.active{
  display: block;
}

.dropdown-list li{
  display: inherit;
  margin-left: -10px;
}

.filters{
  float: left;
  border-right: 6px solid FireBrick;
  font-family:courier;
  color: DimGray;
  height: calc(100vh - 120px);
  width:149px;
  overflow-y: scroll;
}

.filters div.all{
  padding: 10px;
  background-color: FireBrick;
  color: white;
  border-bottom: 2px solid FireBrick;
}

.filters div.main{
  padding: 10px;
  background-color: #ff9999;
  border-bottom: 2px solid FireBrick;
}

.filters div.volume{
  padding: 10px;
  display:none;
  background-color: Silver;
  border-bottom: 2px solid DimGray;
}

.filters div.volume.on{
  display: block;
}

.filters div.button{
  padding: 10px;
  background-color: Silver;
  border-bottom: 2px solid DimGray;
}

.filters button{
  font-family:inherit;
  color: inherit;
  border-radius: 10px;
  width: 100%;
}

.filters button:hover,button.on{
  color: white;
  background-color: FireBrick;
}

.filters textarea{
  margin:0;
  width: 95%;
}

.filters select{
  width:100%;
}

.base{
  margin-top: 16px;
  margin-left: 159px;
  overflow-y: scroll;
  width:calc(100% - 160px);
  height: calc(100vh - 120px);
  color: DimGray;
  background-color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.base .element{
  width: 213px;
  height: 254px;
  padding-bottom: 0px;
  margin: 26px 0px;
  float:left;
  text-align: center;
  background-color: inherit;
}

.base .element img{
  width:122px;
  height: 185px;
  margin-left: 33px;
  margin-right: 33px;
}

.base .description{
  text-align: center;
}

.element .description{
  position: relative;
  min-width:200px;
  min-height:100px;
  font-size: medium;
}

.hightGround{
  position: absolute;
  margin:0;
  z-index:1;
  width: calc(100vw - 157px);
  height: calc(100vh - 120px);
  top:119px;
  left: 155px;
  background-color: inherit;
  visibility: hidden;
}

.hightGround.on{
  visibility: visible;
}

.hightGround span{
  float: right;
  font-size: 50px;
  margin-right: 10px;
}

.hightGround .main.element{
  width: 370px;
  height: 508px;
}

.main.element .description{
  font-size: 30px;
}

.hightGround .main.element img{
  width:244px;
  height: 370px;
}
