<div class="base">
    <div class="elements" cdkDropListGroup>
        <div cdkDropList cdkDropListOrientation="horizontal" 
        *ngFor="let arr of elements let index = index"
        class="example-list"
        [cdkDropListData]="arr"
        (cdkDropListDropped)="drop($event)" 
        (cdkDropListEntered)="enter($event, index)" 
        (cdkDropListExited)="exit($event, index)">
            <div class="element-container" *ngFor="let item of arr" cdkDrag (cdkDragStarted)="grab()">
                <app-element [element]="item"></app-element>
            </div>
        </div>
        <div class="element-icon">
            <i class="fa fa-plus-square" (click)="add(elements.length)"></i>
        </div>
    </div>
</div>