<div class="base" #base  cdkDropListGroup>
    <div class="elements" *ngIf="numberIssuesOnRow > 2">
        <div cdkDropList cdkDropListOrientation="horizontal"
        *ngFor="let arr of matrixElements let row = index"
        class="multi-list"
        [cdkDropListData]="arr"
        (cdkDropListDropped)="drop($event)" 
        (cdkDropListEntered)="enter($event, row)" 
        (cdkDropListExited)="exit($event, row)">
            <div class="element-container" *ngFor="let element of arr let index = index" cdkDrag>
                <app-element [element]="element"></app-element>
                <div class="functions" hidden>
                    <div class="function">
                      <i class="fa fa-plus-square" (click)="add(row*numberIssuesOnRow+index)"></i>
                      <i class="fa fa-trash" (click)="trash(element,row*numberIssuesOnRow+index)"></i>
                      <i class="fa fa-edit" (click)="edit(element,row*numberIssuesOnRow+index)"></i>
                    </div>
                  </div>
            </div>
        </div>
        <div class="element-icon">
            <i class="fa fa-plus-square" (click)="add(matrixElements.length*(numberIssuesOnRow-1)+matrixElements[matrixElements.length-1].length)"></i>
        </div>
    </div>
    <div class="elements" *ngIf="numberIssuesOnRow <= 2" >
        <div class="single-list" (cdkDropListDropped)="singleDrop($event)" cdkDropList>
            <div class="element-container" *ngFor="let element of matrixElements[0]" cdkDrag>
                <app-element [element]="element"></app-element>
            </div>
        </div>
    </div>
</div>
<div class="blur" id="blur" hidden (click)="blurOff()"></div>
