.base {
    height: calc(100vh - 55px);
    overflow-y: scroll;
}

.elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

span {
    float: right;
    font-size: 40px;
    margin-right: 5px;
}