<div class="base" *ngIf="childElements.length === 0">
  <div class="elements">
    <div *ngFor="let element of volumesElements let index = index" class="element-container">
      <app-element [element]="element"></app-element>
      <div class="element-options-container">
        <div class="element-options">
          <i class="fa fa-plus-square" (click)="add()"></i>
          <i class="fa fa-trash" (click)="trash(element,index)"></i>
          <i class="fa fa-arrow-circle-left" (click)="moveLeft(index)"></i>
          <i class="fa fa-arrow-circle-right" (click)="moveRight(index)"></i>
          <i class="fa fa-edit" (click)="edit(element,index)"></i>
          <i class="fa fa-file-archive-o" (click)="unpack(element)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="childElements.length !== 0">
  <div class="base b1">
      <span class="fa fa-close" (click)="pack()"></span>
    <div class="elements">
      <div *ngFor="let element of childElements let index = index" class="element-container">
        <app-element [element]="element"></app-element>
        <div class="element-options-container">
          <div class="element-options">
            <i class="fa fa-arrow-circle-left" (click)="moveChildLeft(index)"></i>
            <i class="fa fa-arrow-circle-right" (click)="moveChildRight(index)"></i>
            <i class="fa fa-trash" (click)="removeChild(index)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="base b2">
    <div class="elements">
      <div *ngFor="let element of issuesElements let index = index" class="element-container">
        <app-element [element]="element" (click)="addChild(element)"></app-element>
      </div>
    </div>
  </div>
</div>