<div class="base" *ngIf="childElements === undefined" cdkDropListGroup>
  <div class="elements" *ngIf="numberIssuesOnRow > 2">
    <div cdkDropList cdkDropListOrientation="horizontal" 
    *ngFor="let arr of matrixElements let row = index" 
    class="multi-list"
    [cdkDropListData]="arr" 
    (cdkDropListDropped)="dropAndUpdate($event)" 
    (cdkDropListEntered)="enter($event, row, matrixElements)" 
    (cdkDropListExited)="exit($event, row)">
      <div class="element-container" *ngFor="let element of arr let index = index" cdkDrag>
        <app-element [element]="element"></app-element>
        <div class="functions f4" hidden>
          <i class="fa fa-plus-square" (click)="addSingleElement(row*numberIssuesOnRow+index)"></i>
          <i class="fa fa-edit" (click)="edit(element,row*numberIssuesOnRow+index)"></i>
          <i class="fa fa-file-archive-o" (click)="unpack(element)"></i>
          <i class="fa fa-trash" (click)="trash(element,row*numberIssuesOnRow+index)"></i>
        </div>
      </div>
    </div>
    <div class="element-icon">
      <i class="fa fa-plus-square" (click)="addSingleElement(matrixElements.length*(numberIssuesOnRow-1)+(matrixElements[matrixElements.length-1]||[]).length)"></i>
    </div>
  </div>
  <div class="elements" *ngIf="numberIssuesOnRow <= 2">
    <div class="single-list" (cdkDropListDropped)="singleDropAndUpdate($event)" cdkDropList>
      <div class="element-container" *ngFor="let element of matrixElements[0] let index = index" cdkDrag>
        <app-element [element]="element"></app-element>
        <div class="functions f4" hidden>
          <i class="fa fa-plus-square" (click)="addSingleElement(index)"></i>
          <i class="fa fa-edit" (click)="edit(element,index)"></i>
          <i class="fa fa-file-archive-o" (click)="unpack(element)"></i>
          <i class="fa fa-trash" (click)="trash(element,index)"></i>
        </div>
      </div>
      <div class="element-icon">
        <i class="fa fa-plus-square" (click)="addSingleElement((matrixElements[0] || []).length)"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="childElements !== undefined">
  <div class="base b1" cdkDropListGroup>
    <span class="fa fa-close" (click)="pack()"></span>
    <div class="elements">
      <div cdkDropList cdkDropListOrientation="horizontal" 
      *ngFor="let arr of childElements let row = index" 
      class="multi-list"
      [cdkDropListData]="arr"
      (cdkDropListDropped)="dropIssues($event)" 
      (cdkDropListEntered)="enter($event, row, childElements)" 
      (cdkDropListExited)="exit($event, row)">
        <div class="element-container" *ngFor="let element of arr let index = index" cdkDrag>
          <app-element [element]="element"></app-element>
          <div class="functions" hidden>
            <i class="fa fa-trash" (click)="removeChild(row*numberIssuesOnRow+index)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="base b2">
    <div class="elements">
      <div *ngFor="let element of issuesElements" class="element-container">
        <app-element [element]="element" (click)="addChild(element)"></app-element>
      </div>
    </div>
  </div>
</div>

<div class="blur" id="blur" hidden (click)="blurOff()"></div>