<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a>
                <i class="fa fa-bars" (click)="toolbar()"></i>
            </a>
        </li>
        <div *ngFor="let item of list">
            <li *ngIf="!item.dropdown" class="navbar-item">
                <a [routerLink]="item.href">
                    <i [ngClass]="item.icon"></i>
                    <span>{{item.title}}</span>
                </a>
            </li>
            <li *ngIf="item.dropdown" class="navbar-item" mat-button [matMenuTriggerFor]="menu">
                <a>
                    <i [ngClass]="item.icon"></i>
                    <span>{{item.title}}</span>
                </a>
                <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="above">
                    <button *ngFor="let dropItem of item.dropdown" mat-menu-item [routerLink]="dropItem.href">{{dropItem.title}}</button>
                </mat-menu>
            </li>
        </div>
    </ul>
</nav>