<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a>
                <i class="fa fa-bars" (click)="toolbar()"></i>
            </a>
        </li>
        <div *ngFor="let item of list">
            <li *ngIf="!item.dropdown" class="navbar-item">
                <a [href]="item.href">
                    <i [ngClass]="item.icon"></i>
                    <span>{{item.title}}</span>
                </a>
            </li>
            <li *ngIf="item.dropdown" class="navbar-item" (click)="dropdown($event)">
                <a>
                    <i [ngClass]="item.icon"></i>
                    <span>{{item.title}}</span>
                </a>
                <div class="dropdown">
                    <a *ngFor="let dropItem of item.dropdown" [href]="dropItem.href">{{dropItem.title}}</a>
                </div>
            </li>
        </div>
    </ul>
</nav>