.page {
    height: calc(100vh - 55px);
    overflow-y: scroll;
    color: white;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wave {
    margin: 5px;
    background-color: firebrick;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 dimgray;
}

.all, .main {
    margin: 5px;
}

.all {
    width: calc(100vw - 200px);
    font-size: 25px;
}

.secondary {
    margin: 5px;
}

.mat-icon {
    background-color: goldenrod;
    border-radius: 50px;
}

@media screen and (max-width: 437px) {
    .wave {
        font-size: small;
    }

    .mat-icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 402px) {

    .all {
        font-size: 15px;
    }

    .wave {
        font-size: 9px;
    }
}