<div class="toolbar">
  <div *ngFor="let wave of categories let first = first">
    <div [ngClass]="{'all': first, 'main': !first}">
      <input type="checkbox" [(ngModel)]="wave.checked" (change)="categoriesService.change(wave)"> {{wave.title}}
      <span *ngIf="!first && wave.series.length>1" class="fa fa-arrow-down" (click)="dropdown($event)"></span>
      <div *ngIf="!first && wave.series.length>1">
          <div *ngFor="let series of wave.series" class='secondary'>
            <input type="checkbox" [(ngModel)]="series.checked" (change)="categoriesService.change(wave,series)"> {{series.title}}
          </div>
        </div>
    </div>
  </div>

</div>