.toolbar{
    float: left;
    border-right: 6px solid FireBrick;
    font-family:courier;
    color: DimGray;
    height: calc(100vh - 55px);
    width: 149px;
    margin-top: 55px;
  }

  .toolbar .all{
    padding: 10px;
    background-color: FireBrick;
    color: white;
    border-bottom: 2px solid FireBrick;
  }
  
  .toolbar .main{
    padding: 10px;
    background-color: #ff9999;
    border-bottom: 2px solid FireBrick;
  }
  
  .toolbar .secondary{
    padding: 10px;
    display:none;
    background-color: Silver;
    border-bottom: 2px solid DimGray;
  }
  
  .toolbar .main.on .secondary{
    display: block;
  }