<style>
  .dialog{
    left: calc(50vw - 270px);
    top: calc(50vh - 235px);
    width: 540px;
    height: 470px;
  }

  .dialog .elements{
    height: 400px;
    margin-left: 40px;
  }

  .dialog button{
    width: 32.5%;
  }
</style>
<div><center>Element istnieje już w bazie</center></div>
<div class="elements">
  <div class="element" ng-include="'templates/elements/element.html'"></div>
  <div class="element" ng-include="'templates/elements/newElement.html'"></div>
</div>
  <button ng-click="dialog.exit('tryAddElements')">Pomiń</button>
  <button ng-click="dialog.exit('setNewElement')">Pomiń wszystkie</button>
  <button ng-click="dialog.exit('tryAddElement')">Sprawdź zmiany i dodaj</button>
