<link rel="stylesheet" href="css\element.css" type="text/css">

<div class='cover'><img ng-click="changeCover(id)" src={{base[id].cover}}></div>
<div class='description'>
  <textarea class='title' rows="1" cols="10" ng-model="base[id].title">{{base[id].title}}</textarea>
  <textarea class='volume' rows="1" cols="3" ng-model="base[id].volume">{{base[id].volume}}</textarea>
  <textarea class="number" rows="1" cols="4" ng-model="base[id].number">{{base[id].number}}</textarea>
  <textarea class='subTitle' ng-model="base[id].subTitle">{{base[id].subTitle}}</textarea>
  <textarea class='publishedDate' ng-model="base[id].publishedDate">{{base[id].publishedDate}}</textarea>
</div>
