<link rel="stylesheet" href="css\element.css" type="text/css">

<div class='cover'><img src={{newElement.cover}}></div>
<div class='description'>
  <textarea class='title' rows="1" cols="12" ng-model="newElement.title">newElement</textarea>
  <textarea class='volume' rows="1" cols="3" ng-model="newElement.volume">{{newElement.volume}}</textarea>
  <textarea class="number" rows="1" cols="4" ng-model="newElement.number">{{base[id].number}}</textarea>
  <textarea class='subTitle' ng-model="newElement.subTitle">{{newElement.subTitle}}</textarea>
  <textarea class='publishedDate' ng-model="newElement.publishedDate">{{newElement.publishedDate}}</textarea>
</div>
