<div id="base.JSON">
   <div>{</div>
     <div ng-repeat="element in base"><div ng-if="!$last">"{{element.id}}":{{element}},</div><div ng-if="$last">"{{element.id}}":{{element}}</div>
     </div>
   <div>}</div>
</div>

<div id="categories.JSON">
  <div>{</div>
  <div ng-repeat="wave in waves.data"><div ng-if="!$last">"{{wave.title}}":{{wave}},</div><div ng-if="$last">"{{wave.title}}":{{wave}}</div>
  </div>
  <div>}</div>
</div>

<div id="series.JSON">
  <div>{</div>
  <div ng-repeat="(key,value) in series.data"><div>"{{key}}":{</div>
      <div>"zeszyty":{{value.zeszyty}},</div>
      <div ng-if="!$last">"tomy":{{value.tomy}}},</div><div ng-if="$last">"tomy":{{value.tomy}}}</div>
  </div>
  <div>}</div>
</div>

<div id="chronology.JSON">{{chronology.data}}</div>
