<div id="base.JSON">
   <div>{</div>
     <div ng-if="!$first" ng-repeat="wave in waves.data | orderWave">
       <div ng-if="!$last"><div ng-repeat="seria in wave.series | orderBy: 'title'">
         <div ng-repeat="id in series.data[seria.title].zeszyty">"{{id}}":{{base[id]}},
         </div>
         <div ng-repeat="id in series.data[seria.title].tomy">
         "{{id}}":{{base[id]}},</div>
       </div></div>
       <div ng-if="$last"><div ng-repeat="seria in wave.series | orderBy: 'title'">
         <div ng-if="!$last"><div ng-repeat="id in series.data[seria.title].zeszyty">"{{id}}":{{base[id]}},
         </div>
         <div ng-repeat="id in series.data[seria.title].tomy">"{{id}}":{{base[id]}},
         </div></div>
         <div ng-if="$last"><div ng-repeat="id in series.data[seria.title].zeszyty">"{{id}}":{{base[id]}},
         </div>
         <div ng-repeat="id in series.data[seria.title].tomy">"{{id}}":{{base[id]}}<div ng-if="!$last">,</div>
         </div></div>
       </div></div>
      </div>
   <div>}</div>
</div>

<div id="categories.JSON">
  <div>{</div>
  <div ng-repeat="wave in waves.data | orderWave">  <div>"{{wave.title}}":{"title":"{{wave.title}}","checked":{{wave.checked}},</div>
    <div>"series":[</div>
      <div ng-repeat="seria in wave.series | orderBy: 'title'">{{seria}}<div ng-if="!$last">,</div>
      </div>
    <div>]}</div><div ng-if="!$last">,</div>
  </div>
  <div>}</div>
</div>

<div id="series.JSON">
  <div>{</div>
  <div ng-repeat="wave in waves.data | orderWave"><div ng-if="!$last"><div ng-repeat="seria in wave.series | orderBy: 'title'">
    <div>"{{seria.title}}":{</div>
        <div>"zeszyty":{{series.data[seria.title].zeszyty}},</div>
        <div>"tomy":{{series.data[seria.title].tomy}}},</div></div></div>
  <div ng-if="$last"><div ng-repeat="seria in wave.series | orderBy: 'title'">
    <div>"{{seria.title}}":{</div>
        <div>"zeszyty":{{series.data[seria.title].zeszyty}},</div>
        <div>"tomy":{{series.data[seria.title].tomy}}}</div><div ng-if="!$last">,</div></div></div>
  </div>
  <div>}</div>
</div>

<div id="chronology.JSON">{{chronology.data}}</div>
