<div class="after-navBar"></div>

<div class="toolbar">
  <div class="main">
    <button ng-repeat="mode in modes" class="ng-class: activeMode==mode.id ? 'on' : '';"
    ng-click="setMode(mode.id)">{{mode.value}}</button>
  </div>
  <div class="main">Nurt
    <select ng-model="selectedWave" ng-change="setSeries()">
      <option ng-repeat="wave in categories">{{wave.title}}</option>
    </select>
  </div>
  <div class="secondary on">Seria
    <select ng-model="selectedSeries">
      <option>new</option>
      <option ng-repeat="series in categories[selectedWave].series">{{series.title}}</option>
    </select>
  </div>
</div>

<div class="base" ng-switch on="activeMode">
  <div ng-switch-when="view|delete|edit" ng-switch-when-separator="|">
    <div ng-repeat="id in series[selectedSeries].zeszyty" class='element'
         ng-include="'templates/element.html'">
    </div>
  </div>
  <div ng-switch-when="JSON">
    <div ng-repeat="id in series[selectedSeries].zeszyty">"{{id}}":{{base[id]}}</div>
  </div>
  <div ng-switch-when="array">
    <div ng-repeat="id in series[selectedSeries].zeszyty">{{id}},</div>
  </div>
  <div ng-switch-when="volumes">volumes</div>
</div>
