<div class="after-navBar"></div>

<div class="toolbar">
  <div class="main">
    <button ng-repeat="mode in modes" class="ng-class: activeMode==mode.id ? 'on' : '';"
    ng-click="setMode(mode.id)">{{mode.value}}</button>
  </div>
  <div class="main">Nurt
    <select ng-model="selectedWave" ng-change="setSeries()">
      <option ng-repeat="wave in categories" ng-if="$index!=0">{{wave.title}}</option>
    </select>
    <div class="add">
      <textarea ng-model="newWave">{{newWave}}</textarea>
      <button ng-click="addWave()">+</button>
    </div>
  </div>
  <div class="secondary on">Seria
    <select ng-model="selectedSeries">
      <option ng-repeat="series in categories[selectedWave].series">{{series.title}}</option>
    </select>
    <div class="add">
      <textarea ng-model="newSeries">{{newSeries}}</textarea>
      <button ng-click="addSeries()">+</button>
    </div>
  </div>
  <select ng-model="selectedType">
    <option>zeszyty</option>
    <option>tomy</option>
  </select>
</div>

<div class="base">
  <div ng-repeat="id in series[selectedSeries][selectedType]" ng-switch on="activeMode">

    <div ng-switch-when="view">
      <div class="element" ng-include="'templates/elements/elements.html'"></div>
    </div>

    <div ng-switch-when="delete">
      <button class='additionalOption' ng-click="deleteRest($index)">
        U
        s
        u
        ń
        >
        </button>
      <div class="element" ng-include="'templates/elements/elements.html'"></div>
      <button ng-click="delete($index)">Usuń</button>
    </div>

    <div ng-switch-when="edit">
      <button class='additionalOption' ng-click="addElement($index)">
        D
        o
        d
        a
        j</button>
      <div class="element" ng-include="'templates/elements/editElements.html'"></div>
    </div>

    <div ng-switch-when="JSON">{{id}}":{{base[id]}}</div>

    <div ng-switch-when="array">{{id}},</div>

    <div ng-switch-when="volumes"><style>.base{height: calc(50vh - 60px);}</style>
      <div class="element" ng-include="'templates/elements/elements.html'"></div>
    </div>

  </div>
</div>
<div class="additional_layout">
  <div class="background"></div>
  <div ng-switch on="dialog">
    <div ng-switch-when="addElement">
       <div class="dialog" ng-include="'templates/dialogs/addElement.html'"></div>
    </div>
  </div>
</div>
