<link rel="stylesheet" href="css\generator.css" type="text/css">

<div class="after-navBar"></div>

<div class="toolbar">
  <div class="main">
    <button ng-repeat="mode in modes" class="ng-class: activeMode==mode.id ? 'on' : '';"
    ng-click="setMode(mode.id)">{{mode.value}}</button>
  </div>

  <div class="main">Nurt
    <select ng-model="waves.selected" ng-change="series.set()">
      <option ng-repeat="wave in waves.data" ng-if="$index!=0">{{wave.title}}</option>
    </select>
    <div class="form-mini">
      <textarea ng-model="waves.new"></textarea>
      <button ng-click="waves.add()">+</button>
      <button ng-click="waves.remove(waves.selected)">-</button>
    </div>
  </div>
  <div class="secondary on">Seria
    <select ng-model="series.selected">
      <option ng-repeat="series in waves.data[waves.selected].series">{{series.title}}</option>
    </select>
    <div class="form-mini">
      <textarea ng-model="series.new"></textarea>
      <button ng-click="series.add()">+</button>
      <button ng-click="series.remove(waves.selected,series.selected)">-</button>
    </div>
  </div>
  <select ng-model="selectedType">
    <option>zeszyty</option>
    <option>tomy</option>
  </select>

</div>

<div class="base" ng-switch on="activeMode">

  <div ng-switch-when="view" ng-repeat="id in series.data[series.selected].zeszyty">
    <div class="element" ng-include="'templates/elements/element.html'"></div>
  </div>

  <div class="elementOptions" ng-switch-when="delete"
       ng-repeat="id in series.data[series.selected].zeszyty">
    <button class="vertical" ng-click="element.deleteRest($index)">{{"Usuń>".split("").join("\n")}}</button>
    <button ng-click="element.delete($index)">Usuń</button>
    <div class="element" ng-include="'templates/elements/element.html'"></div>
  </div>

  <div ng-switch-when="edit">
    <div ng-repeat="id in series.data[series.selected].zeszyty">
      <div class="elementOptions">
        <button class="vertical" ng-click="dialog.open('addElement',[$index])">{{"Dodaj".split("").join("\n")}}</button>
        <div class="element" ng-include="'templates/elements/editElement.html'"></div>
      </div>
    </div>
    <button class="vertical" ng-click="dialog.open('addElement',[series.data[series.selected].zeszyty.length])">
      {{"Dodaj".split("").join("\n")}}</button>
  </div>

  <div ng-switch-when="JSON" ng-repeat="id in series.data[series.selected][selectedType]">
    {{id}}":{{base[id]}}</div>

  <div ng-switch-when="array">{{series.data[series.selected][selectedType]}}</div>

  <div ng-switch-when="volumes">
    <div class="row1">
      <div ng-if="unPackVolume.id!=''">
        <span class="fa fa-close" ng-click="pack()"></span>
        <div class="element"  ng-include="'templates/elements/editElement.html'"></div>
        <div ng-repeat="id in base[unPackVolume.id].children">
          <div class="element" ng-click="removeChild($index)"
               ng-include="'templates/elements/element.html'"></div>
        </div>
      </div>
    </div>
    <div class="row2">
      <div class="element" ng-if="unPackVolume.id!=''" ng-click="addChild(id)"
           ng-repeat="id in series.data[series.selected].zeszyty"
           ng-include="'templates/elements/element.html'"></div>
      <div class="element" ng-if="unPackVolume.id==''" ng-click="unPack(id)"
           ng-repeat="id in series.data[series.selected].tomy"
           ng-include="'templates/elements/element.html'"></div>
    </div>
  </div>

</div>
<div class="additional_layout">
  <div class="background"></div>
  <div ng-switch on="dialog.template">
    <div ng-switch-when="addElement">
       <div class="dialog" ng-include="'templates/dialogs/addElement.html'"></div>
    </div>
    <div ng-switch-when="conflictElements">
       <div class="dialog" ng-include="'templates/dialogs/conflictElements.html'"></div>
    </div>
  </div>
</div>
