<script src="Scripts\nav.js"></script>

<img class="logo" src="marvel-logo.png"></img>

<div class="navBar" >

  <ul class="left">
    <li><a class="fa fa-home" href="#!"> Strona Główna</a></li><li
        ><div class="fa fa-television" > Video</div>
      <ul class="dropdown-list">
        <li><a class="fa fa-angle-right" href="#!MCU"> MCU</a></li>
        <li><a class="fa fa-angle-right" href="#!Fox"> Fox</a></li>
      </ul>
    </li><li><div class="fa fa-book"> Komiksy</div>
      <ul class="dropdown-list">
        <li><a class="fa fa-angle-right" href="#!Comics"> Marvel Now</a></li>
      </ul>
    </li>
  </ul>

  <ul class="right">
    <!--<li></li>-->
  </ul>
</div>
