<script src="Scripts\nav.js"></script>

<img class="logo" src="marvel-logo.png"></img>

<div class="navBar" >

  <ul class="left">
    <li><div class="fa fa-home"> Strona Główna</div></li><li
        ><div class="fa fa-television"> Video</div>
      <ul class="dropdown-list">
        <li><div class="fa fa-angle-right"> MCU</div></li>
        <li><div class="fa fa-angle-right"> Fox</div></li>
      </ul>
    </li><li><div class="fa fa-book"> Komiksy</div>
      <ul class="dropdown-list">
        <li><div class="fa fa-angle-right"> Marvel Now</div></li>
      </ul>
    </li>
  </ul>

  <ul class="right">
    <!--<li></li>-->
  </ul>
</div>
