<div class="toolbar">
  <div class="main">
    <textarea class="baseTitle" [(ngModel)]="baseTitle" (change)="categoriesService.changeBaseTitle(baseTitle)"></textarea>
  </div>
  <div class="main">
    <button *ngFor="let btn of toolbar" [routerLink]="btn.id">{{btn.value}}</button>
    <button (click)="download()">Pobierz bazę</button>
  </div>
  <div class="main">
    Nurt
    <select [(ngModel)]="selectedWave" (change)="changeWave()">
      <option *ngFor="let wave of waves">{{wave.title}}</option>
    </select>
    <div class="form-mini">
      <textarea [(ngModel)]="newWave"></textarea>
      <button (click)="addWave(newWave)">+</button>
      <button (click)="deleteWave(selectedWave)">-</button>
    </div>
  </div>
  <div class="secondary on">
    Seria
    <select [(ngModel)]="selectedSeries" *ngIf="categories[selectedWave]" (change)="generatorService.changeSeries(selectedSeries)">
      <option *ngFor="let series of categories[selectedWave].series">
        {{series.title}}
      </option>
    </select>
    <div class="form-mini">
      <textarea [(ngModel)]="newSeries"></textarea>
      <button (click)="addSeries(selectedWave,newSeries)">+</button>
      <button (click)="deleteSeries(selectedSeries)">-</button>
    </div>
  </div>
  <select [(ngModel)]="selectedType" (change)="generatorService.changeType(selectedType)">
    <option>tomy</option>
    <option>zeszyty</option>
  </select>
</div>