<div class="base b2" cdkDropListGroup>
  <div class="elements" *ngIf="numberIssuesOnRow > 2">
    <div cdkDropList cdkDropListOrientation="horizontal"
    *ngFor="let arr of matrixElements let row = index"
    class="multi-list"
    [cdkDropListData]="arr"
    (cdkDropListDropped)="dropAndUpdate($event)" 
    (cdkDropListEntered)="enter($event, row, matrixElements)" 
    (cdkDropListExited)="exit($event, row)">
        <div *ngFor="let element of arr let index = index" [ngClass]="{'element-container': true, 'mark': markerIndex==row*numberIssuesOnRow+index}"cdkDrag>
            <app-element [element]="element"></app-element>
            <div class="functions" hidden>
                <i class="fa fa-plus-square" (click)="mark(row*numberIssuesOnRow+index)"></i>
                <i class="fa fa-trash" (click)="trash(row*numberIssuesOnRow+index)"></i>
              </div>
        </div>
    </div>
  </div>
</div>
<div class="base b1">
  <div class="elements">
    <div *ngFor="let element of elements" class="element-container">
      <app-element [element]="element" (click)="addChild(element)"></app-element>
    </div>
  </div>
</div>
<div class="blur" id="blur" hidden (click)="blurOff()"></div>