@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.mat-dialog-container{
    border: 10px solid FireBrick;
    border-radius: 10px; /* not working */
    background: black;
    color: dimgray;
}

.mat-dialog-actions button{
    border-radius: 10px;
    width: 100%;
}